<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add author</h1>
    <form action="" method="post">  
        {% csrf_token %} <!-- for security-->
        <input type="text" name="author_name"> <!-- author_name is the key and the value will be the input -->
        <input type="submit" value="Add Author"> <!-- The value on the submit button is what is shown on the button. -->
    </form>

</body>
</html>