<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Author Details</h1>
    <h2>
        {{ james_author_details.name }} <!-- You can have other attributes here. If you don't have one, name is returned because that's what's returned from the __str__() method in models.py--> 
    </h2>
    <button><a href="{% url 'papersdb:edit_author' james_author_details.id %}">Edit author</a></button>
    <button><a href>Delete author</a></button>
</body>
</html>