<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Are you sure you want to delete {{ james_author_details }}?</h1> <!--This is the key.-->
    <button><a href="{% url 'papersdb:delete_author' james_author_details.id %}">Yes</a></button>
    <button><a href="{% url 'papersdb:author_list_page' %}">No</a></button>
</body>
</html>