<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>We are at the home page</h1>
    <ul>
        {% for paper in james_papers %}
        <li>{{ paper.title }}</li>
        <li>
            <ul>
                {% for author in paper.authors.all %}
                <li>{{ author }}</li>
                {% empty %} <!-- this is like an else statement -->
                <li>No authors</li>
                {% endfor %}
            </ul>
        </li>
        <li>{{ paper.publication_date}}</li>
        {% empty %}
        <li>No papers</li>
        {% endfor %}
    </ul>
</body>
</html>